.DS_Store
cache
artifacts
node_modules
.env
coverage
coverage.json
.nyc_output
deployments
prodLordsData.json
prodPacksData.json
unitSkins*
ConfigsUnitsList*
minted_packs-*
minted_lords-*
tinyPacks*
uploaded_images*
packs_config*
betaSalePacksData*
WF_Community_Sale_Lords*
NewConfig*
releaseSalePacks*